html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")

  body
    h1.text-center= title

    ul.list-group
      each item in list
        li.list-group-item.text-center
          span.text-danger= item.time
          span.text-primary= item.action


    script(src="/socket.io/socket.io.js")
    script(src="/client.js")
